.flash-box 
  グループを作成しました。
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          ユーザー名
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %a(href="")
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-use
            %a(href="")
              %i.fa.fa-cog
    .groups
      %a(href="")
        .group
          %p.group__group-name
            グループ名
          %p.group__latest-message
            最新メッセージ
      %a(href="")
  .chat-main
    .main-header
      .main-header__left-box
        %h2(class = "main-header__left-box__current-group" data-groupid = "")
      %a(href="")
    .messages
    .form