
* {
  box-sizing: border-box;
}
div {
  display: block;
}

.flash-box {
  height: 30px;
  width: 100%;
  background-color:#38AEF0;
  color: white;
  text-align: center;
  line-height: 30px;
}

chat-side {
  width: 300px;
  color: white;
  float: left;
}
// .wrapper{

// }
// .chatside{

// }
// .side-header{
//   &__box{
//     &__user-name{

//     }
//   }
// }
